<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="coleg.ejerc.colegioboston">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ColegioBoston"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainAviso"></activity>
        <activity android:name=".MainActivityAyudas" />
        <activity android:name=".ConsultarNotasActivity" />
        <activity android:name=".AgregarNotasActivity" />
        <activity android:name=".MenuNotasActivity" />
        <activity android:name=".ValidarContrasenaProfesor" />
        <activity android:name=".MenuProfesorActivity" />
        <activity android:name=".Contacto" />
        <activity android:name=".recuperarPassActivity" />
        <activity android:name=".DriveActivity" />
        <activity android:name=".ActividadesActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".RegistrarActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>